.scroll{
    width: 50%;
    /* background-color: red; */
    scroll-behavior: smooth;
    border-left: 1px solid #c0bfbf;
}


@media only screen and (max-width:768px){
    .scroll{
        width: 100%;
    }
}