.imgAndAbout{
    background-color: transparent;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .imgMe{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin: 0 auto;
    width: 90%;
    height: 60%;
    border-radius: 20px;
    overflow: hidden;
    
} */

/* .imgMe img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */


.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h2{
    margin-top: 0px;
    margin-bottom: 7px;
}

/* .about h1{
    margin-top:5px ;
    margin-bottom: 10px;
    cursor: pointer;
}

.icons{
    cursor: pointer;
    margin: 0px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.icons a:hover{
    color: blue;
}

.icons a{
    color: black;
    transition: .2s;
} */

.cv{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: .6s;
}

.cv a{
    text-decoration: none;
    color: black;
    transition: .6s;
}

.cv:hover{
    background-color: blue;
    color: white !important;
    border: 1px solid white;
}

.cv:hover a{
    color: white;
}


.about h2{
    width: 19ch;
    overflow: hidden;
    animation: isi 2.5s steps(200)
    infinite alternate-reverse;
    white-space: nowrap;
}

@keyframes isi {
    from{ width: 1ch;}
    to{width: 19ch;}
}

.about{
    max-height:500px ;
    scroll-behavior: smooth;
}













.border {
    height: 359px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
}

.border:hover {
    border: 1px solid #fff;
}

.card {
    top: -30px;
    height: 370px;
    width: 300px;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card0 {
    background: url("../../Images/me3.jpg") center center no-repeat;
    background-size: 300px;
}

.card0:hover {
    background-position: left center;
    background-size: 450px;
}

.card0:hover h2 {
    opacity: 1;
}

.card0:hover .fa {
    opacity: 1;
}

.fa {
    opacity: 0;
    transition: opacity 1s;
}

.icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 120px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.icons i {
    cursor: pointer;
}

.border h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
}



@media only screen and (max-width:768px){
    .card{
        display: none;
        width: 300px;
        height: 250px;
        top: 5px;
        bottom: 10px;
    }
    .border{
        width: 290px;
        height: 240px;
    }

    .icons{
        top: 120px;
        left: -10px;
    }
    .imgAndAbout{
        width: 100%;
        margin-bottom: 20px;
    }
    .about h2{
        margin-top: 10px;
    }
}